@charset 'UTF-8';
@import '../utility/*';

.api-map {
  margin: 0 -20px 120px -20px;
  overflow: hidden;
  #gmap2 {
    height: 548px;
    .gm-style .gm-style-iw-c {
      padding: 10px 14px;
      @include border-radius(0);
      max-width: 332px !important;
    }
    .inf-onmap-txt .ttl {
      @include font(16,25,40);
      font-weight: bold;
      color: #06336F;
    }
    .inf-onmap-txt .txt {
      @include font(12,19,40);
      margin: 2px 0 0;
    }
    .inf-onmap-img {
      max-width: 102px;
      width: 100%;
      float: left;
      img {
        max-width: 102px;
      }
    }
    .inf-onmap-txt {
      overflow: hidden;
      padding: 5px 0 0 14px;
    }
  }
  @include SP {
    margin: 0 -18px 120px -18px;
    .api-map {
      #gmap2 {
        height: 258px;
      }
    }
  }
}