@charset 'UTF-8';
@import '../utility/*';

#slider-range {
  width: 100%;
}
.range-ttl {
  font-size: 16px;
  color: #383838;
  font-weight: bold;
  margin-bottom: 10px;
}
.slider-range-wrap {
  position: relative;margin-bottom: 20px;
  .range-txt {
    position: absolute;
    bottom: -30px;
    color: #7B7B7B;
    border: 0;
    input {
      border: 0;color: #7B7B7B;font-size: 14px;
    }
  }
  .txt-min {
    left: 0;
  }
  .txt-max {
    right: 0;
    input {
     text-align: right; 
    }
  }
}
.ui-slider-horizontal {
    height: 1px;
    background: #EE1C23;border: 0;
}
.ui-widget.ui-widget-content {
    border: 0;
    background: #E8E8E8;
}
.ui-widget-header {
    border: 0;
    background: #EE1C23;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #EE1C23;
    background: #EE1C23;
    font-weight: normal;
    color: #454545;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
}