@charset "UTF-8";
/* =WordPress Core
-------------------------------------------------------------- */
.mainImg {
	text-align: center;
	h2 {
		span {
			display: block;
		}
	}
}

.cmn-keyvisual {
  text-align: center;
  padding: 50px 0;
  .text-en {
    font-weight: bold;
  }
}